{% extends 'base.html' %}

{% block medication %}
<div class="tableDiv">
    <table class="tableFormat">
        <tr>
            <th class="tableCellFormat">MedicationID</th><th class="tableCellFormat">Medication</th><th class="tableCellFormat">Price</th>
            <th class="tableCellFormat">Tax</th><th class="tableCellFormat">Actions</th>
        </tr>
        <tr>
            {% for med in medications %}
                <tr>
                    <!-- <td class="tableCellFormat"></td> -->
                    <td class="tableCellFormat">{{ med[0] }}</td>
                    <td class="tableCellFormat">{{ med[1] }}</td>
                    <td class="tableCellFormat">{{ med[2] }}</td>
                    <td class="tableCellFormat">{{ med[3] }}</td>
                    <td class="tableCellFormat">        
                        <a href="{{ url_for('deleteMedication', id=med[0]) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tr>
    </table>
</div>
<div>
    <div class= "divForm">
        <form action="/home/medication-options/addMedication", method="POST", class="tableForm">
            <input type="select", id="'content", name="medicationType", class="tableInput">
            <input type="select", id="'content", name="price", class="tableInput">
            <input type="select", id="'content", name="tax", class="tableInput">
            <input type="submit", name="addRow">
        </form>
    </div>
</div>
{% endblock %}