{% extends 'base.html' %}

{% block patient %}
<div class="tableDiv">
    <table class="tableFormat">
        <tr>
            <th class="tableCellFormat">patientID</th><th class="tableCellFormat">firstName</th><th class="tableCellFormat">lastName</th>
            <th class="tableCellFormat">priority</th><th class="tableCellFormat">conditions</th><th class="tableCellFormat">familyLastName</th>
            <th class="tableCellFormat">Actions</th>
        </tr>
        <tr>
            {% for patient in patients %}
            <tr>
                <td class="tableCellFormat">{{ patient[0] }}</td>
                <td class="tableCellFormat">{{ patient[1] }}</td>
                <td class="tableCellFormat">{{ patient[2] }}</td>
                <td class="tableCellFormat">{{ patient[3] }}</td>
                <td class="tableCellFormat">{{ patient[4] }}</td>
                <td class="tableCellFormat">{{ patient[5] }}</td>
                <td class="tableCellFormat">
                    <a href="{{url_for('deletePatient', id=patient[0]) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tr>
    </table>
</div>
<div>
    <div class= "divForm">
        <form action="/home/patient-options/addPatient", method="POST", class="tableForm">
            <input type="select", id="'content" name="firstName", class="tableInput">
            <input type="select", id="'content" name="lastName", class="tableInput">
            <input type="select", id="'content" name="priority", class="tableInput">
            <input type="select", id="'content" name="condition", class="tableInput">
            <select id="'content" name="familyID", class="tableInput">
                {% for fam in family %}
                    <option value="{{ fam[0] }}">{{ fam[1] }}</option>
                {% endfor %}
            </select>
            <input type="submit", name="addRow">
        </form>
    </div>
</div>
{% endblock %}