{% extends 'base.html' %}

{% block patient %}
<div class="tableDiv">
    <table class="tableFormat">
        <th class="tableCellFormat">patientID</th><th class="tableCellFormat">firstName</th><th class="tableCellFormat">lastName</th>
        <th class="tableCellFormat">priority</th><th class="tableCellFormat">conditions</th><th class="tableCellFormat">familyLastName</th>
        <th class="tableCellFormat">Actions</th>
        <tr>
            <td class="tableCellFormat"></td>
            <td class="tableCellFormat"></td>
            <td class="tableCellFormat"></td>
            <td class="tableCellFormat"></td>
            <td class="tableCellFormat"></td>
            <td class="tableCellFormat"></td>
            <td class="tableCellFormat">
                <a href="">Delete</a>
                <a href="">Update</a>
            </td>
        </tr>
    </table>
</div>
<div>
    <div class= "divForm">
        <form action="/content", method="POST", class="tableForm">
            <input type="select", name="content", id="'content", class="tableInput">
            <input type="select", name="content", id="'content", class="tableInput">
            <input type="select", name="content", id="'content", class="tableInput">
            <input type="select", name="content", id="'content", class="tableInput">
            <input type="select", name="content", id="'content", class="tableInput">
            <input type="select", name="content", id="'content", class="tableInput">
            <input type="submit", name="addRow">
        </form>
    </div>
</div>
{% endblock %}