{% extends 'base.html' %}

{% block patientMed %}
<div class="tableDiv">
    <table class="tableFormat">
        <th class="tableCellFormat">PatientMedsID</th> <th class="tableCellFormat">Patient First Name</th>
        <th class="tableCellFormat">Patient Last Name</th><th class="tableCellFormat">Medication</th><th class="tableCellFormat">Actions</th>
        <tr>
            {% for patientMed in patient_medications %}
                <tr>
                    <td class="tableCellFormat">{{ patientMed[0] }}</td>
                    <td class="tableCellFormat">{{ patientMed[1] }}</td>
                    <td class="tableCellFormat">{{ patientMed[2] }}</td>
                    <td class="tableCellFormat">{{ patientMed[3] }}</td>
                    <td class="tableCellFormat">
                        <a href="{{ url_for('deletePatientMed', id=patientMed[0]) }}">Delete</a>
                        <!-- <a href="">Update</a> -->
                    </td>
                </tr>
            {% endfor %}
        </tr>
    </table>
</div>
<div>
    <div class= "divForm">
        <form action="/home/medication-options/addPatientMedication", method="POST", class="tableForm">
            <select id="'content" name="patient", class="tableInput">
                {% for p in patients %}
                    <option value="{{ p[0] }}">{{ p[1] }} {{ p[2] }}</option>
                {% endfor %}
            </select>
            <select id="'content" name="medication", class="tableInput">
                {% for m in medications %}
                    <option value="{{ m[0] }}">{{ m[1] }}</option>
                {% endfor %}
            </select>
            <input type="submit", name="addRow">
        </form>
    </div>
</div>
{% endblock %}