{% extends 'base.html' %}

{% block summary %}
<div class="tableDiv">
    <table class="tableFormat">
        <tr>
            <th class="tableCellFormat">Payment Total</th><th class="tableCellFormat">firstName</th>
            <th class="tableCellFormat">lastName</th>
        </tr>
        <tr>
            {% for sum in summary %}
            <tr>
                <td class="tableCellFormat">{{ sum[0] }}</td>
                <td class="tableCellFormat">{{ sum[1] }}</td>
                <td class="tableCellFormat">{{ sum[2] }}</td>
            </tr>
            {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}