{% extends 'base.html' %}

{% block updatePatient %}
 <div class= "divForm">
    <form action="/home/patient-options/updatePatient{{ patient[0] }}", method="POST", class="tableForm">
        <input type="select", id="'content" name="firstName", class="tableInput">
        <input type="select", id="'content" name="lastName", class="tableInput">
        <input type="select", id="'content" name="priority", class="tableInput">
        <input type="select", id="'content" name="condition", class="tableInput">
        <select id="'content" name="familyID", class="tableInput">
            {% for fam in family %}
                <option value="{{ fam[0] }}">{{ fam[1] }}</option>
            {% endfor %}
        </select>
        <input type="submit", name="addRow">
    </form>
</div>
{% endblock %}